 <!-- Partial intended to be overwritten to add custom headers, like CSS or any other info -->

 <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/regular.js" integrity="sha384-V+AkgA1cZ+p3DRK63AHCaXvO68V7B5eHoxl7QVN21zftbkFn/sGAIVR7vmQL3Zhp" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/fontawesome.js" integrity="sha384-treYPdjUrP4rW5q82SnECO7TPVAz4bpas16yuE9F5o7CeBn2YYw1yr5oC8s8Mf8t" crossorigin="anonymous"></script>

<style type="text/css">
    /* Custom css */
    body {
  	font-family:  Microsoft Yahei, Myriad Pro, Palatino Linotype, Garamond, Ubuntu, AR PL UMing HK, Open Sans, 微软雅黑, Simsun, serif;
}

code {
  font-family: Ubuntu Mono, Fira Mono, Lucida Console, Courier New, Monaco, Kaiti, Microsoft Yahei, monospace;
  font-size: 95%;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Microsoft Yahei,黑体,微软雅黑, Microsoft Yahei,  Alegreya, AR PL UMing HK, Open Sans, Arial,sans-serif;
	text-transform:none;
}

#sidebar #shortcuts h3{
	font-family: Microsoft Yahei,黑体,微软雅黑, Microsoft Yahei,  Alegreya, AR PL UMing HK, Open Sans, Arial,sans-serif;
	text-transform:none;
	font-size: 18px;
}

/* Redfines headers style */

h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
h1 {
	font-size: 2.5rem;
	line-height: 110% !important;
  	margin: 2.5rem 0 1.5rem 0;
}

body #chapter h1 {
    font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 110% !important;
  margin: 2.5rem 0 1.5rem 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 110% !important;
  margin: 2rem 0 1rem 0;
}

h4 {
  font-size: 1.2rem;
  line-height: 110% !important;
  margin: 1.5rem 0 0.75rem 0;
}

h5 {
  font-size: 1rem;
  line-height: 110% !important;
  margin: 1rem 0 0.2rem 0;
}

h6 {
  font-size: 0.5rem;
  line-height: 110% !important;
  margin: 0.5rem 0 0.2rem 0;
}

p {
    margin: 1rem 0;
}

figcaption h4 {
    font-weight: 300 !important;
    opacity: .85;
    font-size: 1em;
    text-align: center;
    margin-top: -1.5em;
}

</style>
