 <!-- Partial intended to be overwritten to add custom headers, like CSS or any other info -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    extensions: ["tex2jax.js"],
    tex2jax: {
        inlineMath: [ ['$', '$'],["\\(","\\)"] ],
        displayMath: [ ['$$', '$$'], ["\\[","\\]"]],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    },
<!--     messageStyle: "none", -->
    "HTML-CSS": {availableFonts: ["TeX"]}
});
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

 <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/regular.js" integrity="sha384-V+AkgA1cZ+p3DRK63AHCaXvO68V7B5eHoxl7QVN21zftbkFn/sGAIVR7vmQL3Zhp" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/fontawesome.js" integrity="sha384-treYPdjUrP4rW5q82SnECO7TPVAz4bpas16yuE9F5o7CeBn2YYw1yr5oC8s8Mf8t" crossorigin="anonymous"></script>

<style type="text/css">
    /* Custom css */
    body {
  	font-family:  Microsoft Yahei, Open Sans, Myriad Pro, Palatino Linotype, Garamond, Ubuntu, AR PL UMing HK, Open Sans, 微软雅黑, Simsun, serif;
  	font-size: 16px !important;
}

code {
  font-family:  Fira Mono,Ubuntu Mono, Lucida Console, Courier New, Monaco, 楷体, Microsoft Yahei, monospace;

}

pre {
    padding: 0rem;
    margin: 0rem 0;
    border: 0;
    border-radius: 2px;
    font-size: 80%;
    line-height: 150% !important;
}

h1,h2,h3,h4,h5,h6 {
	font-family:Palatino Linotype,Microsoft Yahei,黑体,Times New Roman,黑体,Microsoft Yahei,微软雅黑, Microsoft Yahei,  Alegreya, AR PL UMing HK, Open Sans, Arial,sans-serif;
	text-transform:none;
	font-weight: bold;
}

#sidebar #shortcuts h3{
	font-family: Microsoft Yahei,黑体,微软雅黑, Microsoft Yahei,  Alegreya, AR PL UMing HK, Open Sans, Arial,sans-serif;
	text-transform:none;
	font-size: 18px;
}

/* Redfines headers style */

h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}



#body .padding {
    padding: auto;
}

#top-bar-sticky-wrapper{
  margin-bottom: 2rem;
}

.searchbox {
    margin-top: 0.1rem;
}
#header-wrapper {
    border-top: 4px solid #9c6fb6;
    padding: 1.2rem;
}

h1 {
	font-size: 2.5rem;
	/*line-height: 100% !important;*/
  	margin: 0.2rem 0 2.0rem 0;

}

body #chapter h1 {
    font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  /*line-height: 100% !important;*/
  margin: 2.5rem 0 1.5rem 0;
}

h3 {
  font-size: 1.3rem;
  /*line-height: 110% !important;*/
  margin: 2rem 0 1rem 0;
}

h4 {
  font-size: 1.2rem;
  /*line-height: 110% !important;*/
  margin: 1.5rem 0 0.75rem 0;
}

h5 {
  font-size: 1rem;
  /*line-height: 110% !important;*/
  margin: 1rem 0 0.2rem 0;
}

h6 {
  font-size: 0.5rem;
  line-height: 110% !important;
  margin: 0.5rem 0 0.2rem 0;
}

p {
    margin: 1rem 0;
}

figcaption h4 {
    font-weight: 300 !important;
    opacity: .85;
    font-size: 1em;
    text-align: center;
    margin-top: -1.5em;
}

</style>
